
body {
    background: rgb(17,0,36);
background: linear-gradient(90deg, rgba(17,0,36,1) 0%, rgba(85,107,194,1) 0%, rgba(192,0,255,1) 100%);;
}

#container {
    background-color: white;
    width: 1500px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    height: 800px;

}

#contact {
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 20px;
    border: 2px black solid;
    border-radius: 10px;
    width: 750px;
}